
<div class="first">

<section class="section1">
    <div class="container">
        <div  class="box">
<div class="box-title"> 
    <p>
        Complete Your Account info
    </p>
</div>
<hr>
<div class="Avatar">
    <img src="assets/images/register.svg">
    <p>Change Profile</p>


</div >
<p class="account-type ">Account Type *</p>
<div class="check-type">
<input type="checkbox"  id="checkbox1" name="checkbox1" style="color: #777;">
<label for="checkbox1">Buyer</label>
</div>
<div class="check-type">
<input type="checkbox"  id="checkbox2" name="checkbox2" style="color: #777;">
<label for="checkbox2">Freelancer </label>
</div>
<p class="account-type ">Individual/corporate Account</p>


<div>
  <input type="radio" id="radio1" name="radio-group" class="radio-input">
  <label for="radio1" class="radio-label">Individual</label>
</div>

<div>
  <input type="radio" id="radio2" name="radio-group" class="radio-input">
  <label for="radio2" class="radio-label">Corporate</label>
</div>
<p class="account-type "> Your Specialty *</p>
<input type="text" class="input-text">
<div>
    <button class="theme-btn primary-btn  buttonlog">
It's done </button>
</div>
        </div>


    </div>
</section>
</div>