<div class="first">
  <section class="section1">
    <div class="container">
      <div class="box">
        <div class="box-title">
          <p>Complete Your Account Info</p>
        </div>
        <hr>
        <div class="Avatar">
          <img src="assets/images/register.svg">
          <p>Change Profile</p>
        </div>

        <!-- Add the (change) event on the file input element -->
        <form (ngSubmit)="CompleteMyProfile()">
          <p class="account-type">Portfolio OR Github Link *</p>
          <input type="text" class="input-text" name="portfolioGithubLink" [(ngModel)]="complete.skills">

          <p class="account-type">Your Specialty *</p>
          <input type="text" class="input-text" name="specialty" [(ngModel)]="complete.portfolio">

          <!-- Add the (change) event on the file input element -->
          <input type="file" (change)="onImageSelected($event)">

          <div>
            <button type="submit" class="theme-btn primary-btn buttonlog">It's done</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
