.sectionlog{


}
.login-box{
  
        margin-top: 50px;
        background-color: #fff;
        border-radius: 8px;
    margin-bottom: 50px;
}
.left{

    background-color: #fafbfb;
    min-height: 100%;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
 
}
.right{
    padding: 30px;
}
.left img{
    width: 80%;
}


.label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #707070;
}

.input {
    display: block;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #dee0e1;
    padding: 0 15px;
    font-size: 12px;
    color: #707070;
}


/*remeber me*/
.check-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 10px;
}
.custom-log-check {
    margin-right: 7px;
    margin-bottom: 20px;
}
.custom-log-check i {
    width: 18px;
    height: 18px;
    border-radius: 3px;
    background-color: #f0f0f0;
    border: 1px solid #dedede;
    color: #f0f0f0;
    font-size: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
}
.custom-log-check input:checked~i {
    color: #fff;
    background-color: #1dbf73;
    border-color: #1dbf73;
}
.check-row>a {
    font-size: 12px;
    color: #707070;
    
    text-decoration: none!important;
}

/*button log*/
.buttonlog
{
  display: inline-block;
  border: 2px solid #1dbf73;
  border-radius: 4px;
  font-size: 15px;
  text-decoration: none;
  background-color: #1dbf73;
  padding-top:10px;
  padding-bottom: 10px;

   color: #fff;
}


 .welcome {
    font-size: 22px;
    color: #262626;
    margin-bottom: 10px;
    text-align: center;
 
}
.register{
    color: #707070;
    font-size: 15px;
    margin-top: 30px;
    text-align: center;
}
.register a{
    text-decoration: none!important;
    color: #1dbf73;
}
/*the error message */
.error{
justify-content: center;
    align-items: baseline;
    padding-top: 20px;
   
    display: flex;}
.error-p{
     margin-top: 10x;
    color: red;
}