
<section class="section1">
    <div class="container">
        <!-- the first row -->
<div class="row">



   <div class="col-12 col-lg-4" >
    <div class="">
        <div class="block">
            <div class="block-head">
                <p class="title">
                    <i class="fas fa-user"></i>
                    My Account
                </p>
                <div class="left">
                    <a href="https://kafiil.com/users/setting" class="side-icon mr">
                        <i class="fas fa-cog"></i>
                    </a>
                </div>
            </div>
            <div class="has-padding">
                <div class="user-info-column">
                    <a href="https://kafiil.com/u/rewan_hosny2" class="img marked">
                        <img class="" src="assets/images/rewan.jpg" alt="">
                        <svg width="82" height="82">
                            <circle r="39" cx="41" cy="41" style="stroke-dashoffset: calc(250 - (250 * 56) / 100);">
                            </circle>
                        </svg>
                    </a>
                    <p class="name online-after">
                        <a class="black-anchor" href="https://kafiil.com/u/rewan_hosny2">Rewan Hosny</a>
                    </p>
                    <div class="">
                        <div class="dashboard-sidebar-tag">
                            <span class="theme-color">Programming, Web And Application Development</span>
                        </div>
                        <p class="info-content">
                            <i class="fas fa-layer-group"></i>
                            <span>Seller Level: <b>new</b></span>
                        </p>
                    </div>
                    <div class="stars">
                        <i class="fas fa-star "></i>
                        <i class="fas fa-star "></i>
                        <i class="fas fa-star "></i>
                        <i class="fas fa-star "></i>
                        <i class="fas fa-star "></i>
                        <span class="small-text">
                            0.0
                            <span class="hint-text">
                                (0)
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>

       <div class="col-12 col-lg-8 " >
     <div class="has-padding">
           <div class="box">
            <div class="box-head">
               <p class="title">
                <i class="fas fa-money-bill-alt"></i>
                 Balance

               </p>
               <div class="left">
<a href="https://kafiil.com/payment/pay" class="theme-btn primary-btn">
Recharge Balance </a>
</div>


            </div>

           </div>

           <!--end of the balance  -->
           <!-- second part -->
           <div class="box">
            <div class="row ">
                <div class="col-12 col-lg-4 p-0">
                    <div class=" balance"> 
                        <a href="https://kafiil.com/transaction">
<p class="title">
Total Profit </p>
<p class="val">
0.00 $
</p>
</a>
                    </div>
     



                </div>

                   <div class="col-12 col-lg-4 p-0">
                        <div class=" balance-green"> 
                        <a href="https://kafiil.com/transaction">
<p class="title">
Total Balance </p>
<p class="val">
0.00 $
</p>
</a>
                    </div>
     

                </div>

                   <div class="col-12 col-lg-4 p-0">
                  <div class=" balance"> 
                        <a href="https://kafiil.com/transaction">
<p class="title">
Withdrawable Balance </p>
<p class="val">
0.00 $
</p>
</a>
                    </div>
     

                </div>
            </div>
           </div>
        </div>
           <!-- end of the second part -->
        <!-- the second row  -->
        
        <div class="row">
            <div class="col-12 col-md-8">
            <div class="block collapse-block">
                <div class="block-head">
                    <a href="https://kafiil.com/project/my-projects" class="black-anchor stopPropagation">
                        <p class="title">
                            <i class="fas fa-briefcase"></i>
                            My Projects <span class="green mr-2">( 0 )</span>
                        </p>
                    </a>
                    <div class="left">
                        <a href="https://kafiil.com/project/create" class="theme-btn sm-btn primary-btn ml-2  stopPropagation">
                            <i class="fas fa-plus hide-md"></i>
                            Add Project </a>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
                <div class="block-body">
                    <div class="grid-2">
                        <div class="progress-box">
                            <a href="https://kafiil.com/project/my-projects?filter_by=waiting">
                                <div class="up">
                                    <p class="title">
                                        Under Review (0)
                                    </p>
                                    <span class="percent">
                                        0 %
                                    </span>
                                </div>
                                <div class="track">
                                    <div class="bar" style="width: 0%;"></div>
                                </div>
                            </a>
                        </div>
                        <div class="progress-box">
                            <a href="https://kafiil.com/project/my-projects?filter_by=receiving_offers">
                                <div class="up">
                                    <p class="title">
                                        Open (0)
                                    </p>
                                    <span class="percent">
                                        0 %
                                    </span>
                                </div>
                                <div class="track">
                                    <div class="bar" style="width: 0%;"></div>
                                </div>
                            </a>
                        </div>
                        <div class="progress-box">
                            <a href="https://kafiil.com/project/my-projects?filter_by=executing">
                                <div class="up">
                                    <p class="title">
                                        In Progress (0)
                                    </p>
                                    <span class="percent">
                                        0 %
                                    </span>
                                </div>
                                <div class="track">
                                    <div class="bar" style="width: 0%;"></div>
                                </div>
                            </a>
                        </div>
                        <div class="progress-box">
                            <a href="https://kafiil.com/project/my-projects?filter_by=completed">
                                <div class="up">
                                    <p class="title">
                                        Completed (0)
                                    </p>
                                    <span class="percent">
                                        0 %
                                    </span>
                                </div>
                                <div class="track">
                                    <div class="bar" style="width: 0%;"></div>
                                </div>
                            </a>
                        </div>
                        <div class="progress-box red">
                            <a href="https://kafiil.com/project/my-projects?filter_by=needs_edits">
                                <div class="up">
                                    <p class="title">
                                        Waiting For Modifications (0)
                                    </p>
                                    <span class="percent">
                                        0 %
                                    </span>
                                </div>
                                <div class="track">
                                    <div class="bar" style="width: 0%;"></div>
                                </div>
                            </a>
                        </div>
                        <div class="progress-box red">
                            <a href="https://kafiil.com/project/my-projects?filter_by=cancelled">
                                <div class="up">
                                    <p class="title">
                                        Cancelled (0)
                                    </p>
                                    <span class="percent">
                                        0 %
                                    </span>
                                </div>
                                <div class="track">
                                    <div class="bar" style="width: 0%;"></div>
                                </div>
                            </a>
                        </div>
                        <div class="progress-box red">
                            <a href="https://kafiil.com/project/my-projects?filter_by=refused">
                                <div class="up">
                                    <p class="title">
                                        Refused (0)
                                    </p>
                                    <span class="percent">
                                        0 %
                                    </span>
                                </div>
                                <div class="track">
                                    <div class="bar" style="width: 0%;"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        
            </div>
        
            <div class="col-12 col-md-4">
                <div class="block collapse-block">
<div class="block-head">
<a href="https://kafiil.com/project/my-bids" class="black-anchor stopPropagation">
<p class="title">
<i class="fas fa-hand-holding-usd"></i>
My Bids&nbsp;
<span style="font-size: 12px; color:#707070; font-weight: 0;">(0)</span>
</p>
</a>
<i class="fas fa-chevron-down"></i>
</div>
<div class="block-body">
<div class="has-padding pb-0">
<div class="progress-box">
<a href="https://kafiil.com/project/my-bids?filter_by=waiting_owner_review">
<div class="up">
<p class="title">
Awaiting Approval (0)
</p>
<span class="percent">
0 %
</span>
</div>
<div class="track">
<div class="bar" style="width: 0%;"></div>
</div>
</a>
</div>
<div class="progress-box">
<a href="https://kafiil.com/project/my-bids?filter_by=accepted">
<div class="up">
<p class="title">
In Progress (0)
</p>
<span class="percent">
0 %
</span>
</div>
<div class="track">
<div class="bar" style="width: 0%;"></div>
</div>
</a>
</div>
<div class="progress-box">
<div class="up">
<p class="title">
Completed (0)
</p>
<span class="percent">
0 %
</span>
</div>
<div class="track">
<div class="bar" style="width: 0%;"></div>
</div>
</div>
<div class="progress-box red">
<a href="https://kafiil.com/project/my-bids?filter_by=refused_by_owner">
<div class="up">
<p class="title">
Refused (0)
</p>
<span class="percent">
0 %
</span>
</div>
<div class="track">
<div class="bar" style="width: 0%;"></div>
</div>
</a>
</div>
</div>
</div>
</div>
        
            </div>
        </div>
    <!-- the third row -->
            <div class="row pad">
                <div class="col-12 col-md-8">
                    <div class="block collapse-block">
                        <div class="block-head">
                            <a href="https://kafiil.com/contest/my-contests" class="black-anchor  stopPropagation">
                                <p class="title">
                                    <i class="fas fa-trophy"></i>
                                    My Contests <span class="green mr-2">( 0 )</span>
                                </p>
                            </a>
                            <div class="left">
                                <a href="https://kafiil.com/contest/create" class="theme-btn sm-btn secondary-btn ml-2  stopPropagation">
                                    Add Contest </a>
                                <i class="fas fa-chevron-down"></i>
                            </div>
                        </div>
                        <div class="block-body">
                            <div class="grid-2">
                                <div class="progress-box">
                                    <a href="https://kafiil.com/contest/my-contests?filter_by=waiting">
                                        <div class="up">
                                            <p class="title">
                                                Under Review (0)
                                            </p>
                                            <span class="percent">
                                                0.0 %
                                            </span>
                                        </div>
                                        <div class="track">
                                            <div class="bar" style="width: 0.0%;"></div>
                                        </div>
                                    </a>
                                </div>
                                <div class="progress-box ">
                                    <a href="https://kafiil.com/contest/my-contests?filter_by=needs_edits">
                                        <div class="up">
                                            <p class="title">
                                                Waiting For Modifications (0)
                                            </p>
                                            <span class="percent">
                                                0.0 %
                                            </span>
                                        </div>
                                        <div class="track">
                                            <div class="bar" style="width: 0.0%;"></div>
                                        </div>
                                    </a>
                                </div>
                                <div class="progress-box ">
                                    <a href="https://kafiil.com/contest/my-contests?filter_by=published">
                                        <div class="up">
                                            <p class="title">
                                                Published (0)
                                            </p>
                                            <span class="percent">
                                                0.0 %
                                            </span>
                                        </div>
                                        <div class="track">
                                            <div class="bar" style="width: 0.0%;"></div>
                                        </div>
                                    </a>
                                </div>
                                <div class="progress-box red">
                                    <a href="https://kafiil.com/contest/my-contests?filter_by=refused">
                                        <div class="up">
                                            <p class="title">
                                                Refused (0)
                                            </p>
                                            <span class="percent">
                                                0.0 %
                                            </span>
                                        </div>
                                        <div class="track">
                                            <div class="bar" style="width: 0.0%;"></div>
                                        </div>
                                    </a>
                                </div>
                                <div class="progress-box ">
                                    <a href="https://kafiil.com/contest/my-contests?filter_by=running">
                                        <div class="up">
                                            <p class="title">
                                                Receiving Entrie (0)
                                            </p>
                                            <span class="percent">
                                                0.0 %
                                            </span>
                                        </div>
                                        <div class="track">
                                            <div class="bar" style="width: 0.0%;"></div>
                                        </div>
                                    </a>
                                </div>
                                <div class="progress-box ">
                                    <a href="https://kafiil.com/contest/my-contests?filter_by=waiting_owner_selection">
                                        <div class="up">
                                            <p class="title">
                                                Waiting Your Selection (0)
                                            </p>
                                            <span class="percent">
                                                0.0 %
                                            </span>
                                        </div>
                                        <div class="track">
                                            <div class="bar" style="width: 0.0%;"></div>
                                        </div>
                                    </a>
                                </div>
                                <div class="progress-box ">
                                    <div class="up">
                                        <p class="title">
                                            Completed (0)
                                        </p>
                                        <span class="percent">
                                            0.0 %
                                        </span>
                                    </div>
                                    <div class="track">
                                        <div class="bar" style="width: 0.0%;"></div>
                                    </div>
                                </div>
                                <div class="progress-box red">
                                    <a href="https://kafiil.com/contest/my-contests?filter_by=cancelled">
                                        <div class="up">
                                            <p class="title">
                                                Cancelled (0)
                                            </p>
                                            <span class="percent">
                                                0.0 %
                                            </span>
                                        </div>
                                        <div class="track">
                                            <div class="bar" style="width: 0.0%;"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
            
                </div>
            
                <div class="col-12 col-md-4">
                <div class="block collapse-block">
                    <div class="block-head">
                        <a href="https://kafiil.com/contest/my-contests-entries" class="black-anchor stopPropagation">
                            <p class="title">
                                <i class="fas fa-photo-video"></i>
                                My Contest Entries
                            </p>
                        </a>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="block-body">
                        <div class="has-padding pb-0">
                            <div class="progress-box">
                                <a href="https://kafiil.com/contest/my-contests-entries?filter_by=waiting_owner_selection">
                                    <div class="up">
                                        <p class="title">
                                            Waiting Owner Selection (0)
                                        </p>
                                        <span class="percent">
                                            0.0 %
                                        </span>
                                    </div>
                                    <div class="track">
                                        <div class="bar" style="width: 0.0%;"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="progress-box">
                                <a href="https://kafiil.com/contest/my-contests-entries?filter_by=selected">
                                    <div class="up">
                                        <p class="title">
                                            Winner (0)
                                        </p>
                                        <span class="percent">
                                            0.0 %
                                        </span>
                                    </div>
                                    <div class="track">
                                        <div class="bar" style="width: 0.0%;"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="progress-box">
                                <a href="https://kafiil.com/contest/my-contests-entries?filter_by=refused">
                                    <div class="up">
                                        <p class="title">
                                            Excluded (0)
                                        </p>
                                        <span class="percent">
                                            0.0 %
                                        </span>
                                    </div>
                                    <div class="track">
                                        <div class="bar" style="width: 0.0%;"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            
                </div>
            </div>

    </div>

    </div>



    </div>
</section>