.section1{
    padding: 10px;
    margin-top: 50px;
}

.box-head{
    padding: 20px 20px;
    color: #707070;
    background-color: white;
    display: flex;
    justify-content: space-between;

        border-bottom: 1px solid rgba(212,212,212,.55);
}

 .title {
    font-weight: 700;
    display: flex;
    align-items: center;
    color: #444152;

    font-size: 1em;
}
 .title i{
      margin-right:5px;
}

.theme-btn.primary-btn {
    color: #fff;
    background-color: #1dbf73;
    text-decoration: none!important;
    padding: 8px;
    border-radius: 8px;
}

/*padding of the second section*/
.has-padding{
    background-color: #fff;
    border-radius: 8px;
        margin-bottom: 20px;
}
/*my project*/
.block {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #dee0e1;

}
 .block .block-head {
    padding: 10px 20px;
    min-height: 57px;
    font-size: 16px;
    color: #707070;
    border-bottom: 1px solid rgba(212, 212, 212, .55);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.block .block-head a{
    text-decoration: none!important;
    justify-content: center;
}
.block .block-head .title {
    font-weight: 700;
    display: flex;
    align-items: center;
    color: #444152;
    margin-top: 10px;
}
.block .block-head .title i {
    margin-right: 8px ;
    font-size: 22px;
}
.green {
    color: #1dbf73;
}

.theme-btn.primary-btn {
    color: #fff;
    background-color: #1dbf73;
}

.theme-btn.sm-btn {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
}

.theme-btn {
    padding: 8px;
}

.theme-btn {
    font-size: 15px !important;
}
/*grid my project*/

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 50px;
    padding: 15px 20px;
    text-decoration: none !important;
    margin-bottom: 20px;
}
.progress-box .up {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    text-decoration: none !important;
}

.progress-box .up .title {
    font-size: 14px;
    color: #707070;
    text-decoration: none !important;
}

.progress-box .up .percent {
    font-size: 12px;
    color: #707070;
}
.progress-box .track {
    height: 4px;
    background-color: #d4d4d4;
    border-radius: 4px;
}
.progress-box .track .bar {
    height: 100%;
    background-color: #1dbf73;
    border-radius: 4px;
    width: 0%;
}
.progress-box a{
    text-decoration: none !important;
}
.block .has-padding {
    padding: 20px;
}
.progress-box {
    margin-bottom: 20px;
}
/* button contest */
.theme-btn.secondary-btn {
    color: #707070;
    background-color: #f8f8f8;
    border: 1px solid #dee0e1;
}

.theme-btn.sm-btn {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
}

.theme-btn {
    padding: 8px;
}
.pad{
    margin-top: 20px;
}
/* the second half (profile) */
.side-icon {
    width: 30px;
    height: 30px;
    background-color: #f8f8f8;
    border-radius: 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #707070;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #dee0e1;
}
.user-info-column {
    text-align: center;
}
.user-info-column .img.marked {
    border: 4px solid #f8f8f8;
    padding: 3px;
    width: 81px;
    height: 81px;
    position: relative;
}

.user-info-column .img {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 10px;
    display: block;
}
.user-info-column .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.user-info-column .img.marked svg circle {
    stroke: #1dbf73;
}

.user-info-column .img.marked svg circle {
    stroke-dasharray: 250;
    stroke-linecap: round;
    stroke-width: 4px;
    stroke: #8dddb8;
    fill: none;
}
.user-info-column .img.marked svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
}
.user-info-column .name {
    font-size: 18px;
    color: #262626;
    display: block;
    margin-bottom: 10px;
    margin-right: 5px;
    text-decoration: none !important;
}
 .user-info-column .name a{
        margin-right: 5px;
            text-decoration: none !important;
            color: #262626;
 }

.online-after {
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
}
.online-after::after {
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #1dbf73;
}

.theme-color {
    color: #1dbf73 !important;
    margin-bottom: 10px;
}
.user-info-column .stars {
    margin: 14px 0;
}

.user-info-column .stars {
    margin-bottom: 19px;
        color: #707070;
    line-height: 10px;
}
.user-info-column .stars i {
    font-size: 14px;
}

.user-info-column .stars i {
    font-size: 10px;
    margin: 0 1px;
    color: #707070;
}

.fa-star {
    color: #e5e5e5;
}
/*the New Sectionnn (setting )      ----------------------                      */

#change_avatar_button {
    position: absolute;
    bottom: 10px;
    left: -20px;
    margin: 0px 10px;
    border-radius: 10px;
    z-index: 5;
    font-size: 13px;
    background-color: #1DBF73;
    color: white;
    padding: 1px 8px;
}
.label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 14px;
    color: #707070;
}
.input {
    display: block;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #dee0e1;
    padding: 0 15px;
    font-size: 12px;
    color: #707070;
}

.theme-anchor {
    color: #1DBF73;
    text-decoration: none!important;
}

.custom-radio {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-right: 5px;
}
input[type=radio] {
    accent-color: #1DBF73;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

 .custom-radio i {
    margin-right: 5px;
}
.custom-radio i {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #dee0e1;
    transition: .3s;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: initial;
    cursor: pointer;
    
}
.custom-radio input:checked~i {
    border-color: #1dbf73;
    background-color: #1dbf73;
}
.checkbox-row {
    display: flex;
}

/*button of update*/

.theme-btn.primary-btn {
    color: #fff;
    background-color: #1dbf73;
    border:none;
    border-radius: 8px;
    margin-top:20px;
}