
/*the first div*/
.section{
  
       padding-bottom: 30px;
    padding-top: 30px;
 
}

/* title project*/
.section-title {
    padding: 16px 20px;
    border-radius: 8px;
    font-size: 16px;
    color: #707070;
    background-color: #fff;
    font-weight: 700;
    border: 1px solid rgba(212,212,212,.55);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.radio{
    margin-left: 10px;
    padding: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    border: 1px solid #DEE0E1;
    border-radius: 6px;
    height: 30px;

    text-decoration: none!important;
}

.custom-radio {
    display: flex;
    align-items: center;
    font-size: 12px;
}


.custom-radio i {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #dee0e1;
    transition: .3s;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: initial;
    cursor: pointer;
    margin-right: 5px;
}

.custom-radio input:checked~i {
    border-color: #1dbf73;
    background-color: #1dbf73;
}
/*latest*/

.select2-selection {
    color: #707070;
    background-color: #fff;
    font-weight: 700;
    border: 1px solid rgba(212,212,212,.55);
    height: 30px;
}
.select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    
}
 .select2-selection__rendered {
    line-height: 30px;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
}
.select2-selection__arrow {
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
}
/*box project*/
.project{
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #dee0e1;
    margin-bottom: 10px;
    transition: .3s;
}

.box-project{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.box-project .right img {
   width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
        vertical-align: middle;
    border-style: none;
    
}
/* */
.name {
    font-size: 16px;
    color: #262626;
    margin-bottom: 14px;
    display: block;
    text-decoration: none!important;
}
.info{
    flex-direction:column;
    float: right;
    font-size: 20px;
    margin-left: 20px;
  
    
}
 .right .name .tag {
    padding: 1px 8px;
   background-color: #6c757d!important;
    font-size: 10px;
    color: #fff;
    border-radius: 3px;
    line-height: 1;
}
.down {
    display: flex;
    align-items: center;
}
.text {
    font-size: 14px;
    color: #777;
    display: flex;
    align-items: center;
    white-space: nowrap;
margin-right: 10px;

}

.text i {
    text-decoration: none!important;
        
       


}
/* filter*/
.theme-btn {
    margin-bottom: 15px;
    font-size: 16px;
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: center;
    border-radius: 5px;
    text-decoration: none!important;
}
.theme-btn.primary-btn {
    color: #fff;
    background-color: #1dbf73;
}
/*search*/

.side-search {
    border-color: #fff;
    

    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    
    
    position: relative;
}

.side-search input {
    text-decoration: none !important;
    height: 45px;
    padding: 0 19px;
    width: 100%;
    color: #707070;
    font-size: 12px;
    border: none;
    font-weight: 600;
        overflow: visible;
    
}

.side-search:hover{
    color: #1dbf73;
    border: 1px solid  #1dbf73;
}
.but {
    font-size: 18px;
    color: #b7b7b7;
    position: absolute;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    right: 15px;
    text-decoration: none!important;
        overflow: visible;
}
/*categories*/
.side-collapse-links {
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #dee0e1;
    margin-bottom: 15px;
}
.collapse-btn{
    width: 100%;
   
    padding: 15px;
    background-color: transparent;
    color: #707070;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #dee0e1;



}
 .collapse-btn.collapsed i {
    transform: none;
}
.collapse-btn>i {
    font-size: 10px;
    display: none;
    transform: rotate(180deg);
    transition: .3s;
}
.side-collapse-links .link {
    width: 100%;
    display: block;
    padding: 15px;
    background-color: transparent;
    color: #707070;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none!important;
}
.selectize-input {
    border: 1px solid #d0d0d0;
    padding: 8px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
    border-radius: 3px;
}
.inp{
width: 100%;
    text-decoration: none !important;
    height: 45px;
    padding: 0 19px;
    width: 100%;
    color: #707070;
    font-size: 12px;
    border: none;
    font-weight: 600;
 overflow: visible;

}